# Common ignores
node_modules/
.next/
.env*.local
.DS_Store
log.txt

# Output directory
out/

# lock file
pnpm-lock.yaml

# Desktop folder (Electron app)
/Desktop/

# Backend folder (Railway deployment)
Backend/node_modules/
Backend/.env
Backend/*.log